<html>
	<body>
		<h1>SEND SMS</h1>
		
		<form action="/hr_admin/do_send_sms" method="POST">
			<table>
				<tr>
					<td>
						<label>Enter Phone Number</label>
					</td>
					<td>
						<input type="text" name="phone" id="phone"/>
					</td>
				</tr>
				<tr>
					<td><label>Enter message</label></td>
					<td><input type="text" name="msg" id="msg" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="SUBMIT"/></td>
				</tr>
			</table>
			
		</form>
	</body>
</html>