<select name="RoleId" id="RoleId" class="form-control" onchange="get_learning_groups_for_organization()" style="border: 1px solid #ccc">
	<% batches.forEach(function(batch, i) { %>
		<option value="<%= batch.id %>"><%= batch.name %></option>
	<% }) %>
</select>