<%= test.criticalQuestions %>
<a class="navbar-right" title="Edit" onclick="ajax_call('/content/edit_test_mandatory_question/<%= test.id %>','test_mandatory_question')"><i class="icm icm-pencil5"></i></a>