<%= test.passScore != null ? test.passScore : 0 %>
<a class="navbar-right" title="Edit" onclick="ajax_call('/content/edit_test_pass_score/<%= test.id %>','test_pass_score')"><i class="icm icm-pencil5"></i></a>