
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
  
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>
  	
  
  <div class="carousel-inner">
    
    <div class="item active">
			<img src="images/Talentify 1.png" alt="GYM">
    </div>
    
     <div class="item">
			<img src="images/talentify 2.png" alt="GYM">
    </div>
    
     <div class="item">
			<img src="images/talentify 3.png" alt="GYM">
    </div>
    
    <div class="item">
			<img src="images/Talentify 4.png" alt="GYM">
    </div>
    
    <div class="item">
			<img src="images/Talentify 5.png" alt="GYM">
    </div>
    
    <div class="item">
			<img src="images/Talentify 6.png" alt="GYM">
    </div>
    
    <div class="item">
			<img src="images/Talentify 7.png" alt="GYM">
    </div>
    
    <div class="item">
			<img src="images/Talentify 8.png" alt="GYM">
    </div>
    
  </div>

  
  
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  
</div>

<!--
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="active item"><img src="images/Talentify 1.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 2.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 3.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 4.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 5.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 6.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 7.png" alt="GYM"></div>
    <div class="item"><img src="images/Talentify 8.png" alt="GYM"></div>
  </div>
  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
-->
