<div style="border-style: solid; border-width: 1px; border-color: #ddd; border-radius: 5px 5px 5px 5px; padding: 2em; margin-top: 2%;">
	<div class="row" style="padding: 0 15px">
		<div class="profile_picture col-md-3" style="text-align: center;">
			<img src="/images/profile.png" alt="" class="img-thumbnail">
			<h5>John Doe</h5>
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Tax Law
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Client Interaction
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			MS Office Expert
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Feedback
		</div>
	</div>
</div>
<div style="border-style: solid; border-width: 1px; border-color: #ddd; border-radius: 5px 5px 5px 5px; padding: 2em; margin-top: 2%;">
	<div class="row" style="padding: 0 15px">
		<div class="profile_picture col-md-3" style="text-align: center;">
			<img src="/images/profile.png" alt="" class="img-thumbnail">
			<h5>Jane Doe</h5>
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Tax Law
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Client Interaction
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			MS Office Expert
		</div>
		<div class="skill col-md-2" style="text-align: center; margin-top: 3%;">
			<div class="well">
				&nbsp;
			</div>
			<hr>
			Feedback
		</div>
	</div>
</div>
