<script src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

<div class="notes_div_skill">
	<p style="text-align: center; font-size: 14px; font-weight: bold">Modules Completed</p>
	<div class="width_100" style="text-align: center">
		<table style="width: 100%">
			<tr>
				<td><%= completedModules %>/<%= totalModules %></td>
			</tr>	
		</table>
	</div>	
</div>