<!DOCTYPE html>
	<head>
	    <meta charset="utf-8">
        <title>iLAB</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="/flat-ui/common-files/css/icon-font.css">
        <!--<link rel="stylesheet" href="/flat-ui/css/style.css">-->
        <!--<link rel="stylesheet" href="/flat-ui/css/demo.css">-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="/modernizr/modernizr.js"></script>
        <script src="/jquery/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
        
        <script src="/flat-ui/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/flat-ui/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/flat-ui/common-files/js/modernizr.custom.js"></script>
        <script src="/flat-ui/common-files/js/page-transitions.js"></script>
        <script src="/flat-ui/common-files/js/startup-kit.js"></script>
	</head>
	
	<body style="background: #fff; padding: 1em">
		<div id="spinner" class="spinner" style="display:none;">
	        <img src="/images/ajax-loader.gif" alt="Spinner"/>
	    </div>
		<%- body %>	
		<!--<script src="/flat-ui/js/script.js"></script>-->
	</body>
	
</html>