<!-- Modal -->
<div class="modal fade" id="start-rating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="text-align: left;" id="myModalLabel"><span id="skill_name"></span> - Rate yourself and your friends!</h4>
      </div>
      <div class="modal-body">
				<div class="row">
					<div class="profile_picture col-md-4">
						<img src="/images/profile.png" alt="" class="img-thumbnail">
						<h5>You</h5>
						<div id="slider-vertical" style="height:200px; width: 12px; margin: 0 auto;"></div>
					</div>
					<div class="profile_picture col-md-4">
						<img src="/images/profile.png" alt="" class="img-thumbnail">
						<h5>Vikram</h5>
						<div id="slider-vertical1" style="height:200px; width: 12px; margin: 0 auto;"></div>
					</div>
					<div class="profile_picture col-md-4">
						<img src="/images/profile.png" alt="" class="img-thumbnail">
						<h5>Jane</h5>
						<div id="slider-vertical2" style="height:200px; width: 12px; margin: 0 auto;"></div>
					</div>
				</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
