<!-- Modal -->
<style>
	.modal-dialog {
		width: auto;
		position: absolute;
		top: 5%;
		bottom: 5%;
		left: 25%;
		right: 25%;
		width: auto;
		margin: auto;
	}
	@media (max-width: 767px) {
		.modal-dialog {
			top: 15%;
			bottom: 15%;
			left: 1%;
			right: 1%;	
		  }
		  .modal-header h4 {
		  	font-size: 1.5em;
		  }
	}
</style>

  <div class="modal-dialog">
    <div class="modal-content">
      	<% if(typeof successFlash != 'undefined') { %>
	      	<div class="row" style="position: relative; top: 10px;margin:4px">
				<p class="alert alert-success"><%= successFlash %></p>
			</div>
		<% } %>		
      <div class="modal-header">
        <a class="close" href="#" onclick="hide_class('DimBg');hide_div('modal_preview')">&times;</a>
        <h4 class="modal-title" id="myModalLabel">Add Interview Round</h4>
      </div>
      
      <div class="modal-body">
		<form role="form" method="POST" action="/recruiter/do_add_step_to_job">
				<div class="form-group">
				  	<label>Name</label>
				  	<input type="text" name="name" id="name" class="form-control"/>
				</div>
			  
			  <div class="form-group">
			  	<label>Description</label>
			  	<input type="text" name="description" id="description" class="form-control"/>
			  </div>
			  
			  <div class="form-group">
			    <label><b>Type</b>:</label>
			    <select name="type" id="type" class="form-control">
					<option value="Test">Test</option>
					<option value="Interview">Interview</option>
				</select>
			  </div>
			  
			  <input type="hidden" value="<%= job.id %>" name="JobId" />
			  
			  <button type="submit" class="btn btn-success">Submit</button>
			  <button type="button" class="btn btn-default" onclick="hide_class('DimBg');hide_div('modal_preview')">Close</button>
      	</form>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

