
<div class="animated fadeIn padded certificates">
  	<button type="button" class="close pull-right turbo-toggle">&times;</button>
  	<h2 class="thin no-margin-top" style="color: #fff">Certificates</h2>
  	<!-- start overall -->
	<div class="col-md-3" style="padding-left: 0px">
		<div class="captionable  captionable-effect-flip horizontal">
	        <div class="captionable-flip">
	          <div class="captionable-front">
	            
				<div class="panel panel-success">
				  <div class="panel-heading">
				    <div class="panel-title text-center">
				      <h4>Wizard</h4>
				    </div>
				  </div>
				  <div class="panel-body">
				    	<div class="vpadded text-center">
					      <i class="icm icm-trophy-star"></i>
					    </div>
					    <div class="text-center">
					    	<h4>Mathematics</h4>
					    </div>
				  </div><!-- end panel body -->
				</div><!-- end panel -->
	
	          </div><!-- end caption front -->
	          <div class="captionable-caption captionable-back panel-body-info padded bg-white">
	            <p> 
	            	Explanatory text goes here
	            </p>
	          </div>
	        </div>
	      </div>
	 </div>
	<!-- end overall -->
	
	<!-- start overall -->
	<div class="col-md-3">
		<div class="captionable  captionable-effect-flip horizontal">
	        <div class="captionable-flip">
	          <div class="captionable-front">
	            
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <div class="panel-title text-center">
				      <h4>Master</h4>
				    </div>
				  </div>
				  <div class="panel-body">
				    
					  
					    <div class="vpadded text-center">
					      <i class="icm icm-medal"></i>
					    </div>
					    <div class="text-center">
					    	<h4>Commerce</h4>
					    </div>
					  
					  
				  </div><!-- end panel body -->
				</div><!-- end panel -->
	
	          </div>
	          <div class="captionable-caption captionable-back panel-body-info padded bg-white">
	            <p> 
	            	Explanatory text goes here
	            </p>
	          </div>
	        </div>
	      </div>
	 </div>
	<!-- end overall -->
	
	<!-- start overall -->
	<div class="col-md-3">
		<div class="captionable  captionable-effect-flip horizontal">
	        <div class="captionable-flip">
	          <div class="captionable-front">
	            
				<div class="panel panel-danger">
				  <div class="panel-heading">
				    <div class="panel-title text-center">
				      <h4>Apprentice</h4>
				    </div>
				  </div>
				  <div class="panel-body">
				    
					  
					    <div class="vpadded text-center">
					      <i class="icm icm-trophy"></i>
					    </div>
					    <div class="text-center">
					    	<h4>Banking</h4>
					    </div>
					  
					  
				  </div><!-- end panel body -->
				</div><!-- end panel -->
	
	          </div>
	          <div class="captionable-caption captionable-back panel-body-info padded bg-white">
	            <p> 
	            	Explanatory text goes here
	            </p>
	          </div>
	        </div>
	      </div>
	 </div>
	<!-- end overall -->
	
	<!-- start overall -->
	<div class="col-md-3">
		<div class="captionable  captionable-effect-flip horizontal">
	        <div class="captionable-flip">
	          <div class="captionable-front">
	            
				<div class="panel panel-warning">
				  <div class="panel-heading">
				    <div class="panel-title text-center">
				      <h4>Rookie</h4>
				    </div>
				  </div>
				  <div class="panel-body">
				    
					  
					    <div class="vpadded text-center">
					      <i class="icm icm-medal2"></i>
					    </div>
					    <div class="text-center">
					    	<h4>Finance</h4>
					    </div>
					  
					  
				  </div><!-- end panel body -->
				</div><!-- end panel -->
	
	          </div>
	          <div class="captionable-caption captionable-back panel-body-info padded bg-white">
	            <p> 
	            	Explanatory text goes here
	            </p>
	          </div>
	        </div>
	      </div>
	 </div>
	<!-- end overall -->
</div>